@import "variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}