.card {
    width: 160px;
    height: 224px;
    box-shadow: inset 0px -66px 50px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: var(--text-color);
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s ease;
    /*background-position-y: -52px;*/
    /*background-position-x: -52px;*/

    div {
        background-color: rgba(54, 54, 67, .45);
        backdrop-filter: blur(2px);
        width: 40px;
        height: 40px;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        position: absolute;
        top: 8px;
        left: 4px;
    }
}

.card:hover {
    transform: scale(1.1);
}