.imgBackground {
    width: 166px;
    height: 166px;
    border: 2px solid var(--text-color);
    border-radius: 4px;

    img {
        width: 370px;
        max-width: 370px;
    }
}

.path {
    display: flex;
    align-items: center;
    margin-top: 22px;

    .pathImg {
        height: 52px;
        width: 52px;
        background-color: #1F1F27;
        border-bottom: 0.5px solid var(--gray-36);
        border-left: 0.5px solid var(--gray-36);
        border-top: 0.5px solid var(--gray-36);
    }

    .pathText {
        width: 120px;
        height: 52px;
        border-radius: 0 4px 4px 0;
        background-color: var(--gray-36);
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    }
}

.element {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-second-color);
}

.elementLogo {
    img {
        height: 34px;
    }
}

.description {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.levelBackground {
    background-color: var(--black-24);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--white-ebe);
}

.level {
    background-color: var(--black-19);
    border-radius: 4px;
}

.levelStats {
    background-color: var(--black-19);
    width: 25%;

    img {
        width: 31px;
        height: 31px;
    }
}

.inputWrapper {
    height: 48px;
    border: 1px solid #EBEAEA;
    border-radius: 4px;
    width: 332px;

    input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
    }
    input[type="range"]:focus {
        outline: none;
    }

    /***** Chrome, Safari, Opera и Edge Chromium *****/
    input[type=range]::-webkit-slider-runnable-track {
        background: #191920;
        height: 6px;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -9px;
        background-color: #EBEAEA;
        height: 28px;
        width: 28px;
        border-radius: 4px;
    }
    input[type="range"]:focus::-webkit-slider-thumb {
        border: 1px solid #fff;
        outline: 2px solid #fff;
        outline-offset: 2px;
    }


    /******** Firefox ********/
    input[type=range]::-moz-range-track {
        background: #191920;
        height: 6px;
    }
    input[type=range]::-moz-range-thumb {
        border: none;
        border-radius: 4px;
        background-color: #EBEAEA;
        height: 28px;
        width: 28px;
    }
    input[type="range"]:focus::-moz-range-thumb {
        border: 1px solid #fff;
        outline: 2px solid #fff;
        outline-offset: 2px;
    }
}

.talents {
    /*background-color: var(--black-24);*/
    /*border-radius: 4px;*/
    /*padding: 22px;*/

    .talentType {
        width: 120px;
        height: 50px;
        background-color: var(--black-f1);
        /*border-radius: 6px;*/
    }
}